<ul *ngFor="let p of pokemon">
    <li class="mb-3 shadow bg-slate-100 rounded relative">
        <app-catch-button [pokemonName]="p.name"></app-catch-button>
        <section class="p-4">
            <app-pokemon-image [pokemon]="p"></app-pokemon-image>
        </section>
        <section class="ml-8">
            <span>{{p.name}}</span>
        </section>
    </li>
</ul>