<nav class="bg-gray-800 flex justify-between items-center p-4 sticky top-0 w-full z-50 text-gray-400 rounded-b-xl">
  <span class="font-bold"> Pokemon Trainer! </span>
      <ul>
        <li class="px-4">
          <a routerLink="/trainer">Trainer page</a>
        </li>
        <li class="px-4">
          <a routerLink="/pokemon">Pokemon Catalogue</a>
        </li>
      </ul>
</nav>
