<ul>
    <li class="mb-3 shadow bg-slate-100 rounded relative" *ngFor="let p of pokemon">
        <span *ngIf="isReleased; then released else notReleased"></span>
            <ng-template #notReleased>
                <app-release-button [pokemonName]="p.name"></app-release-button>
                <section>
                    <app-pokemon-image [pokemon]="p"></app-pokemon-image>
                </section>
                <section class="ml-10 mb-5">
                    {{p.name}}
                </section>
            </ng-template>
            <ng-template #released></ng-template>
    </li>
</ul>