<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <fieldset class="mb-3">
    <label for="username" class="block text-xl font-medium text-gray-700">Username</label>
    <input
      type="text"
      ngModel
      #username="ngModel"
      name="username"
      id="username"
      class="border border-slate-300 p-2 rounded w-full mb-3"
      placeholder="johndoe"
    />
    <button type="submit" class="bg-gray-900 p-2 rounded text-gray-400">Login</button>
  </fieldset>
</form>
