<aside class="absolute top-4 right-4">
    <button 
    (click)="onCatchClick()"
    class="border rounded border-slate-500 bg-gray-800 flex justify-center items-center p-2 text-gray-400"
    >
    <span *ngIf="isCaught; then caught else notCaught"></span>
    <ng-template #caught>Caught</ng-template>
    <ng-template #notCaught>Catch</ng-template>
</button>
</aside>