<aside class="absolute top-4 right-4">
<button 
(click)="onReleaseClick()"
class="border rounded border-slate-500 bg-gray-800 flex justify-center items-center p-2 text-gray-400">
    Release
</button>
</aside>